@charset "UTF-8";
 *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #007bff;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #f51b1b,
        #fed801
    );
    left: -150px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -158px;
    bottom: -745px;
}
form{
    height: 1260px;
    width: 540px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    margin-top: 325px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #3fbe3f;
    color: white;
}
.changer{
  margin-top: 30px;
  display: flex;
}
.changer div{
    border-radius: 5px;
    margin: auto;
    padding: 7px 15px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
}
.changer div:hover{
  background-color: rgba(255,255,255,0.47);
}
.changer .fb{
  margin-left: 25px;
}
.changer i{
  margin-right: 4px;
}
.checker{
	display:none;
	margin-top:10px
}
.match{
	margin-left:20px;
}
#checkimg{
	margin-right: 9px;
    margin-top: 1px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
.eye{
    position: absolute;
    top: 60%;
    right: 16px;
    color:  #007bff;
}
.pass{ 
    position: relative;
}