@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
.head{
	height:100px;
	font-family: 'Poppins', sans-serif;
	font-size: 26px;
	background-color: #007bff;
	color: #fff;
	display: flex;
	
}
.page-title{
	position:relative;
	margin-top:35px;
	margin-left:390px;
	font-weight:bolder;
	display: inline-block;
	margin-bottom:30px;
}

.navigation{
	margin-top:30px;
	margin-left:320px;
	font-size:16px;
	display:inline-block;
}
.navigation ul{
	display:flex;
}
.navigation ul li{
	padding:10px;
	list-style-type:none;
	margin-left:10px;
}
.navigation ul li:hover{
	background-color: white;
	color: #007bff;
	box-shadow: 2px 2px 7px rgb(52, 51, 51);
	
}
.logo{
	margin-left:10px;
	margin-top:10px;
	display:inline-block;
}
.logo img{
	height:90px;
	width:165px;
}
.tabular{
	overflow:auto;
	font-family: 'Poppins', sans-serif;
	border-radius:1%;
	width:65em;
	height:30em;
	margin:auto;
	margin-top:8em;
	background-color:#98d4ff;
    box-shadow: 2px 2px 14px rgb(40, 39, 39);
}
.tabular table{
	border-collapse:collapse;
}
.inside-table{
	padding-top: 14px;
	padding-bottom: 14px;
}
thead{
	background-color: #27a8f7;
}
tbody:nth-child(odd){
	background-color: #27a8f7;
}
.t-date,.t-time,.t-amount,.t-balance{
	text-align:center;
	width: 15%;
}
.t-des{
	padding-left:10px;
	padding-right:10px;
	width: 40%;
}
table{
	width: 100%;
	
}

